p {
	font-family: cursive;
	fonr-size: 20px;
}

button {
	background-color: red;
	border: 2px outset yellow;
	border-radius: 20px;
}

img {
	width: 150px;
	height: 150px;
}

img:hover {
	width: 250px;
	height: 250px;
}
