<style>
@import url(https://fonts.googleapis.com/css?family=Palette-Mosaic);
</style>
p {
	font-family: 'Palette Mosaic';
	fonr-size: 20px;
}

button {
	background-color: #78c4ff;
	border: 2px outset #175f96;
	border-radius: 20px;
}
